@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pixelify+Sans:wght@400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("/img/create-a-professional-pixel-art-background-and-scenery.gif")
    no-repeat center center fixed;
  background-size: cover;
  overflow-x: hidden;
}

.nav {
  background-color: #003b88;
  padding: 5px;
  position: fixed;
}

.nav-ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  font-size: 2rem;
}

.poketintouin {
  position: relative;
  right: 5px;
  width: 15%;
  background-color: #003b88;
  margin-right: 20px;
  z-index: 1000;
}

.li {
  position: relative;
  right: 70.2%;
}

.nav-item {
  text-decoration: none;
  color: rgb(255, 217, 0);
  font-weight: bold;
  font-family: sans-serif;
  display: flex;
  background-color: #003b88;
  padding: 30px 29px;
  position: relative;
  z-index: 1000;
}

.pikachu {
  width: 5%;
  position: absolute;
  left: 35%;
  animation: runAcross 8s linear infinite;
  z-index: 1;
}

@keyframes runAcross {
  0% {
    left: -100px;
  }
  100% {
    left: 98vw;
  }
}

.search {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.john_goat {
  width: 10%;
  height: auto;
  top: 68%;
  left: 90%;
  position: fixed;
  animation: breathing 4s ease-in-out infinite;
  transform-origin: bottom;
}

@keyframes breathing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.026);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fuite {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(200%) rotate(720deg);
    opacity: 0;
  }
}

.fuite {
  animation: fuite 2s forwards;
}

.bulle-dialogue {
  position: fixed;
  bottom: 350px;
  right: 200px;
  max-width: 300px;
  background: white;
  border: 3px solid black;
  border-radius: 20px;
  padding: 20px;
  font-family: "Pixelify Sans", sans-serif;
  font-size: 1.2rem;
  box-shadow: 3px 3px 2px black;
}

@media (max-width: 1920px) {
  .bulle-dialogue {
    bottom: 300px;
    right: 150px;
    font-size: 1.5rem;
  }
}

/* ---------------------------------------------------- */

/* Ajout du triangle de la bulle façon BD */

.bulle-dialogue::after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: 15px;
  border-width: 11px 11px 0 11px;
  border-style: solid;
  border-color: white transparent;
  display: block;
}

.bulle-dialogue::before {
  content: "";
  position: absolute;
  bottom: -23px;
  right: 12px;
  border-width: 12px 12px 0 12px;
  border-style: solid;
  border-color: black transparent;
  display: block;
}

/* ---------------------------------------------------- */

.page-container {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Pixelify Sans", sans-serif;
  padding-top: 200px;
}

.liste {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  max-width: 200px;
  margin: 0 auto;
  padding: 50px;
  list-style: none;
  margin-left: 50px;
}

.pokemon {
  width: 500px;
  height: 200px;
  background-color: #0072be;
  border-radius: 50px;
  border: 3px solid rgb(255, 255, 255);
  outline: 5px solid #0072be;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px;
  font-size: 3rem;
  justify-content: center;
  font-family: "Pixelify Sans", sans-serif;
  color: white;
}

@media (max-width: 768px) {
  .nav {
    height: 60px;
  }
}
