@font-face {
    font-family: "Pokemon Solid" ;
    src:url("/font/Pokemon Solid.ttf");
}
*{
    box-sizing: border-box;
}

body {
background-color: black;

}

.title {
    color: yellow;
    text-shadow: -2px -2px 0 blue, 2px -2px 0 blue, -2px 2px 0 blue, 2px 2px 0 blue;
    text-align: center;
    font-family: "Pokemon Solid";
    letter-spacing: 6px;
    font-size: 80px;
}

.lowTitle {
    color: yellow;
    text-shadow: -0.5px -0.5px 0 blue, 0.5px -0.5px 0 blue, -0.5px 0.5px 0 blue, 0.5px 0.5px 0 blue;
    text-align: center;
    font-size: 50px;

}


header, .footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

img {
    width: 50px;
    height: 50px;
 
}

.search {
    color: antiquewhite;
}

.footer {
    color: antiquewhite;
    list-style: none;
    font-size: medium;
}
